<div class="min-h-screen py-6 flex flex-col sm:py-12">
  <div class="relative py-3 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-blue-400 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
    ></div>
    <div
      [ngClass]="{
        'bg-white': !(isDarkTheme$ | async),
        'bg-gray-900': (isDarkTheme$ | async)
      }"
      class="relative px-4 py-10 shadow-lg sm:rounded-3xl sm:p-10 lg:p-16"
    >
      <button
        (click)="resetComponent()"
        [ngClass]="{
          'text-gray-900': !(isDarkTheme$ | async),
          'text-white': (isDarkTheme$ | async)
        }"
        class="absolute top-4 right-4 hover:bg-red-500 hover:text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline transition-colors duration-200"
      >
        Reset
      </button>
      <div class="mt-4 mb-4">
        <button (click)="pdfUpload.click()" class="bg-blue-500 w-full text-white">Select PDF</button>
        <input #pdfUpload hidden type="file" id="pdfFile" name="pdfFile" accept=".pdf" (change)="onUploadPdf($event)" />
        <div *ngIf="pdfLoading" class="my-4 text-center text-blue-500">
          Uploading PDF...
          <div class="my-4 text-center">
            <i class="fas fa-spinner fa-spin text-blue-500"></i>
          </div>
        </div>
        <div *ngIf="!pdfLoading && pdfUploaded" class="my-4 text-center text-green-500">
          PDF uploaded successfully!
        </div>
      </div>
      <div class="mb-4 relative">
        <!-- Add the arrow icon for submitting the question -->
        <button (click)="onSubmitQuery()" class="absolute bottom-0 right-0 mb-2 mr-2 text-blue-500">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
        <textarea
          id="query"
          name="query"
          rows="3"
          [(ngModel)]="query"
          [disabled]="pdfLoading"
          class="p-3 bg-white rounded-md text-gray-900 w-full leading-4 h-auto pl-3 pr-10 pb-6 border-solid border-2 border-sky-500"
        ></textarea>
      </div>

      <div *ngIf="isLoadingAnswer" class="my-4 text-center">
        <i class="fas fa-spinner fa-spin text-blue-500"></i>
      </div>

      <div *ngFor="let item of qaHistory" class="mt-6">
        <div class="bg-gray-100 p-4 rounded-lg">
          <span class="font-semibold text-blue-500">Question:</span> {{ item.query }}
        </div>
        <div class="bg-blue-100 p-4 rounded-lg mt-4">
          <span class="font-semibold text-blue-500">Answer:</span> {{ item.answer }}
        </div>
      </div>
    </div>
  </div>
</div>
