h1 {
  font-weight: 200;
}

span {
  font-weight: 200;
}

button {
  width: 10rem;
}

.user-pdf-controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}
