<section class="container mx-auto px-4 sm:px-8">
  <div class="py-2">
    <!-- Links -->
    <div class="flex flex-wrap mt-6 justify-center">
      <div class="w-full md:w-1/2 xl:w-1/4 p-6 flex justify-center">
        <a
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          [routerLink]="'/upload-pdf'"
          class="hover:bg-blue-700 hover:text-white py-2 px-4 rounded"
        >
          Submit PDF
        </a>
      </div>
      <div class="w-full md:w-1/2 xl:w-1/4 p-6 flex justify-center">
        <a
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          [routerLink]="'/pdf-chat'"
          class="hover:bg-blue-700 hover:text-white py-2 px-4 rounded"
          >PDF Chat</a
        >
      </div>
      <div class="w-full md:w-1/2 xl:w-1/4 p-6 flex justify-center">
        <a
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          [routerLink]="'/upload-pdf'"
          class="hover:bg-blue-700 hover:text-white py-2 px-4 rounded"
          >Change Username/Password</a
        >
      </div>
      <div class="w-full md:w-1/2 xl:w-1/4 p-6 flex justify-center">
        <a
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          [routerLink]="'/audio-chat'"
          class="hover:bg-blue-700 hover:text-white py-2 px-4 rounded"
          >Audio Chat</a
        >
      </div>
    </div>
    <div class="flex flex-wrap">
      <!-- User Plan -->
      <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <div
          class="border rounded shadow p-6"
          [ngClass]="{
            'bg-gray-900': (isDarkTheme$ | async)
          }"
        >
          <div class="flex justify-center">
            <div
              class="text-center"
              [ngClass]="{
                'text-gray-900': !(isDarkTheme$ | async),
                'text-white': (isDarkTheme$ | async)
              }"
            >
              <h2 class="text-xl">Current Plan</h2>
              <p class="text-lg">Basic</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Usage -->
      <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <div
          class="border rounded shadow p-6"
          [ngClass]="{
            'bg-gray-900': (isDarkTheme$ | async)
          }"
        >
          <div class="flex justify-center">
            <div
              class="text-center"
              [ngClass]="{
                'text-gray-900': !(isDarkTheme$ | async),
                'text-white': (isDarkTheme$ | async)
              }"
            >
              <h2 class="text-xl">Usage</h2>
              <p>PDFs Uploaded: 50</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Cost -->
      <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <div
          class="border rounded shadow p-6"
          [ngClass]="{
            'bg-gray-900': (isDarkTheme$ | async)
          }"
        >
          <div class="flex justify-center">
            <div
              class="text-center"
              [ngClass]="{
                'text-gray-900': !(isDarkTheme$ | async),
                'text-white': (isDarkTheme$ | async)
              }"
            >
              <h2 class="text-xl">Monthly Subscription</h2>
              <p>$15.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Graph -->
    <div
      class="w-full p-6 border rounded shadow"
      [ngClass]="{
        'bg-gray-900': (isDarkTheme$ | async)
      }"
    >
      <div class="flex items-center">
        <div class="text-center w-full">
          <h2
            class="text-xl"
            [ngClass]="{
              'text-gray-900': !(isDarkTheme$ | async),
              'text-white': (isDarkTheme$ | async)
            }"
          >
            Usage Graph
          </h2>
          <div
            [ngClass]="{
              'light-theme': !(isDarkTheme$ | async),
              'dark-theme': (isDarkTheme$ | async),
            }"
          >
            <ngx-charts-bar-vertical
              [results]="chartData"
              scheme="vivid"
              [gradient]="true"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'PDFs'"
              [yAxisLabel]="'Usage'"
            ></ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
