# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Flask specific
/backend/python-flask/__pycache__/
/backend/python-flask/*.pyc
/backend/python-flask/*.pyo
/backend/python-flask/*.pyd
/backend/python-flask/.Python
/backend/python-flask/env/
*.pyc

# Additional lock files
/backend/node-express/package-lock.json
/frontend/package-lock.json
