<div class="min-h-screen flex justify-center py-12 px-4 sm:px-6 lg:px-8" *ngIf="registerForm">
  <div class="max-w-md w-full space-y-8">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
      <div class="shadow-sm">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            formControlName="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm"
            placeholder="Email address"
          />
          <div
            *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')"
            class="text-red-500 text-sm"
          >
            This field is required.
          </div>
        </div>
        <div class="relative mt-2 flex items-center bg-white">
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm"
            placeholder="Password"
          />
          <div class="ml-1 p-1">
            <i
              (click)="toggleShowPassword()"
              class="cursor-pointer"
              [ngClass]="{
                'fa-solid fa-eye': showPassword,
                'fas fa-eye-slash': !showPassword
              }"
            ></i>
          </div>
        </div>
        <div
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')"
          class="text-red-500 text-sm"
        >
          This field is required.
        </div>
        <div class="relative mt-2 flex items-center bg-white">
          <label for="confirmPassword" class="sr-only">Confirm Password</label>
          <input
            id="confirmPassword"
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm"
            placeholder="Confirm Password"
          />
          <div class="ml-1 p-1">
            <i
              (click)="toggleShowConfirmPassword()"
              class="cursor-pointer"
              [ngClass]="{
                'fa-solid fa-eye': showConfirmPassword,
                'fas fa-eye-slash': !showConfirmPassword
              }"
            ></i>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage$ | async" class="flex justify-center text-red-500 text-sm my-2">
        <span>{{ errorMessage$ | async }}</span>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
