<div
  class="min-h-screen flex justify-center py-12 px-4 sm:px-6 lg:px-8"
  *ngIf="registerForm"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2
        class="mt-6 text-center text-3xl font-extrabold"
        [ngClass]="{
          'text-gray-900': !themeService.currentTheme,
          'text-white': themeService.currentTheme
        }"
      >
        Register
      </h2>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="mt-8 space-y-6"
    >
      <div class="rounded-md shadow-sm">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            formControlName="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email address"
          />
          <div
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.hasError('required')
            "
            class="text-red-500 text-sm"
          >
            This field is required.
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm mt-2"
            placeholder="Password"
          />
          <div
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.hasError('required')
            "
            class="text-red-500 text-sm"
          >
            This field is required.
          </div>
        </div>
      </div>
      <div
        *ngIf="errorMessage"
        class="flex justify-center text-red-500 text-sm my-2"
      >
        <span>{{ errorMessage }}</span>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
