<section
  class="text-gray-600 body-font"
  [ngClass]="{
    'text-gray-900': !(isDarkTheme$ | async),
    'text-white': (isDarkTheme$ | async)
  }"
>
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">
        Discover the Power of AI <br class="hidden lg:inline-block" />for Your
        Documents
      </h1>
      <p class="mb-8 leading-relaxed">
        Unlock the full potential of your documents with You Got This AI's
        cutting-edge vector databases and powerful graphical user interface. Our
        advanced algorithms and customizable solutions enable you to search,
        analyze, and visualize your data with ease. Experience seamless document
        management and analysis like never before.
      </p>
      <div class="flex justify-center">
        <button
          class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-700 rounded text-lg"
          [routerLink]="'/register'"
        >
          Register
        </button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded svg-image1"
        alt="hero"
        src="assets/images-icons/landing_image_2.svg"
      />
    </div>
  </div>
</section>
<!-- SECOND SECTION -->
<section
  class="body-font"
  [ngClass]="{
    'text-gray-900': !(isDarkTheme$ | async),
    'text-white': (isDarkTheme$ | async),
    'gradient-animation-light': !(isDarkTheme$ | async),
    'gradient-animation-dark': (isDarkTheme$ | async)
  }"
>
  <div
    class="container px-5 py-24 mx-auto"
    [ngClass]="{
      'text-gray-900': !(isDarkTheme$ | async),
      'text-white': (isDarkTheme$ | async)
    }"
  >
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">2.7K</h2>
        <p class="leading-relaxed">Users</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">1.8K</h2>
        <p class="leading-relaxed">Subscribes</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">35</h2>
        <p class="leading-relaxed">Downloads</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">4</h2>
        <p class="leading-relaxed">Products</p>
      </div>
    </div>
  </div>
</section>
<!-- THIRD SECTION OF LANDING -->
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded svg-image1"
        alt="hero"
        src="assets/images-icons/landing_image_2.svg"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium"
        [ngClass]="{
          'text-gray-900': !(isDarkTheme$ | async),
          'text-white': (isDarkTheme$ | async)
        }"
      >
        Empowering You Through AI-Powered Document Analysis
      </h1>
      <p
        class="mb-8 leading-relaxed"
        [ngClass]="{
          'text-gray-900': !(isDarkTheme$ | async),
          'text-white': (isDarkTheme$ | async)
        }"
      >
        Our mission at You Got This AI is to provide you with the tools and
        support you need to unlock the full potential of your data. Our advanced
        technology and dedicated team of experts are here to guide you every
        step of the way, making it easier than ever to search, analyze, and
        visualize your documents. Experience a new level of document management
        with our customizable AI-driven solutions.
      </p>
    </div>
  </div>
</section>
