<section>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap md:flex-nowrap justify-center">
      <div class="md:w-1/2">
        <h2
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="text-2xl font-extrabold tracking-tight"
        >
          Welcome to You Got This AI
        </h2>
        <p
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="mt-4 max-w-2xl text-xl"
        >
          Our company is dedicated to helping our customers unlock the full
          potential of their documents, and we believe that our cutting-edge
          vector databases and powerful graphical user interface can help make
          this a reality.
        </p>
        <p
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="mt-4 max-w-2xl text-xl"
        >
          At You Got This AI, we understand the challenges that come with
          managing large amounts of data. That's why we've developed a powerful
          text embedding solution that allows our customers to search and
          analyze their documents with ease. Our advanced algorithms turn your
          documents into sets of mathematical vectors, which can then be
          searched and analyzed using our intuitive graphical user interface.
        </p>
        <p
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="mt-4 max-w-2xl text-xl"
        >
          But we don't just offer a one-size-fits-all solution. We understand
          that our customers have unique needs and requirements, which is why we
          offer a range of customizable solutions that can be tailored to your
          specific needs. Whether you need to search for keywords, perform
          complex queries, or visualize your data in new and exciting ways, we
          have the tools and expertise to help you get the job done.
        </p>
        <p
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="mt-4 max-w-2xl text-xl"
        >
          At You Got This AI, we're not just about technology - we're about
          empowering our customers. We believe that with the right tools and
          support, anyone can unlock the full potential of their data. That's
          why we're committed to providing our customers with world-class
          support and guidance, every step of the way.
        </p>
        <p
          [ngClass]="{
            'text-gray-900': !(isDarkTheme$ | async),
            'text-white': (isDarkTheme$ | async)
          }"
          class="mt-4 max-w-2xl text-xl"
        >
          So if you're looking for a reliable and powerful text embedding
          solution, look no further than You Got This AI. With our cutting-edge
          technology and dedicated team of experts, we're here to help you take
          your data analysis to the next level. Contact us today to learn more
          about our services and how we can help you achieve your goals.
        </p>
      </div>
      <div class="md:w-1/2 mt-8 md:mt-0">
        <img
          class="object-cover object-center rounded mx-auto md:ml-8 my-custom-image"
          alt="hero"
          src="assets/images-icons/you_got_this_logo.svg"
        />
      </div>
    </div>
  </div>
</section>
